<div data-section-id="{{ section.id }}" data-section-type="celebrity" class="grid__item one-whole" style="padding-left: 0px;">
{% paginate blog.articles by 20 %}

  {%- assign blog_title = blog.title -%}


  <h1 class="section-header__title">{{ section.settings.title }}</h1>

  <div class="header-byline">
    <span>{{ section.settings.byline }}</span>
  </div>

  <div class="celebrity-grid grid__item one-whole" data-celebrity-grid>
    {% for article in blog.articles %}
      {% include 'celebrity_grid' %}
    {% endfor %}    
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}
</div>

{% schema %}
  {
    "name": "Celeb Blog",
    "class":"grid__item one-whole celeb-container",
    "max_blocks": 50,
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Page Title"
      },
      {
        "type":"text",
        "id":"byline",
        "label":"Page Byline"
      }
    ],
    "blocks": [
      {
        "type": "Post",
        "name": "Post Block",
        "settings": [
            {
               "type": "select",
               "id": "mobile_width",
               "options": [
                  { "value": "one-fifth", "label": "20%"},
                  { "value": "one-quarter", "label": "25%"},
                  { "value": "one-third", "label": "33%"},
                  { "value": "two-fifths", "label": "40%"},
                  { "value": "one-half", "label": "50%"},
                  { "value": "three-fifths", "label": "60%"},
                  { "value": "two-thirds", "label": "66%"},
                  { "value": "three-quarters", "label": "75%"},
                  { "value": "four-fifhts", "label": "80%"},
                  { "value": "one-whole", "label": "100%"}
               ],
               "default":"one-whole",
               "label": "Mobile Width"
            },
            {
              "type":"text",
              "label":"Link Word",
              "default":"see more",
              "id":"link_word"
            }
        ]
      }
    ]
  }
{% endschema %}