{% assign ChosenBlog = section.settings.blog %}
{% assign bloged = blogs[ChosenBlog] %}
{% capture mobileWidth %}{% for block in section.blocks %}{{ block.settings.mobile_width }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign mobileWidth = mobileWidth | split: ',' %}
{% capture linkWords %}{% for block in section.blocks %}{{ block.settings.link_word}}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign linkWords = linkWords | split: ',' %}
{% assign blockSize = section.blocks.size %}
<div class="section_title">
  <h2 class="heading_two_big">
    <a href="{{ bloged.url }}">{{ section.settings.title }}</a>
  </h2>
</div>
<div class="section_subtitle">
  <span>{{ section.settings.subtitle }}</span>
</div>
<div class="grid blog_container">
  {% for article in bloged.articles limit: blockSize %}{% assign position = forloop.index | minus: 1 %}{% assign mobilePosition = mobileWidth[position] %}
  <div class="article_container grid__item small--{{ mobilePosition }}" {{ block.shopify_attributes }}>
    <div class="blog_content_container">
      <div class="blog_content_inner">
        <h2 class="heading_two"><a href="{{ article.url }}" onClick="ga('send', 'event', { eventCategory: 'Home Clicks', eventAction: 'Blog Post', eventLabel: '{{ article.handle }}  - {% cycle 'POS-1','POS-2','POS-3','POS-4' %}'});"><span class="large--hide">{{ article.title | truncatewords: 3 }}</span></a></h2>
        <span><a href="{{ article.url }}" onclick="ga('send', 'event', { eventCategory: 'Home Clicks', eventAction: 'Blog Post', eventLabel: 'cahier/introducing-mer-our-swim-collection  - POS-4'});" class="button">{{ linkWords[position] }}</a></span>
      </div>
    </div>
    <a href="{{ article.url }}">
      <img src="{{ article.image.src | img_url: '1024x1024' }}" alt="{{ article.image.alt }}">
    </a>
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Le Cahier",
    "class":"grid__item one-whole cahier-hp",
    "max_blocks": 50,
    "settings": [
      {
        "type": "blog",
        "id": "blog",
        "label": "Chosen Blog"
      },
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"Le Cahier"
      },
      {
        "type":"textarea",
        "id":"subtitle",
        "label":"Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "Post",
        "name": "Post Block",
        "settings": [
            {
               "type": "select",
               "id": "mobile_width",
               "options": [
                  { "value": "one-fifth", "label": "20%"},
                  { "value": "one-quarter", "label": "25%"},
                  { "value": "one-third", "label": "33%"},
                  { "value": "two-fifths", "label": "40%"},
                  { "value": "one-half", "label": "50%"},
                  { "value": "three-fifths", "label": "60%"},
                  { "value": "two-thirds", "label": "66%"},
                  { "value": "three-quarters", "label": "75%"},
                  { "value": "four-fifhts", "label": "80%"},
                  { "value": "one-whole", "label": "100%"}
               ],
               "default":"one-whole",
               "label": "Mobile Width"
            },
            {
              "type":"text",
              "label":"Link Word",
              "default":"see more",
              "id":"link_word"
            }
        ]
      }
    ]
  }
{% endschema %}