<style>
    .cart_drawer{
      background:{{ section.settings.drawer_background }};
      color: {{ section.settings.drawer_color }};
    }
</style>
<div data-section-id="{{ section.id }}" data-section-type="cartDrawer" data-cart-drawer>
  <div class="drawer__header text-center" data-cart-header>
    <h3 style="text-align: {{ section.settings.header_alignment }}; color: {{ section.settings.header_color }}; font-size: {{ section.settings.font_size }}px;">{{ section.settings.header }}</h3>
    {% include 'icon-close' %}
  </div>
  <div class="drawer__body" data-cart-body>
    
  </div>
</div>
{% comment %}
		Use preloading of images, not loading by default to help with load speed. Since these images will be hidden by default it.
{% endcomment %}

{% schema %}
  {
    "name": "Cart Drawer",
    "class":"cart_drawer drawer",
    "settings": [
    {
      "type":"header",
      "content":"Drawer Settings"
    },
    {
      "type":"color",
      "id":"drawer_background",
      "default":"#ffffff",
      "label":"Drawer Background Color"
    },
    {
      "type":"color",
      "id":"drawer_color",
      "default":"#000000",
      "label":"Drawer Text Color"
    },
    {
      "type":"header",
      "content":"Header Settings"
    },
    {
      "type":"text",
      "id":"header",
      "default":"Shopping Cart",
      "label":"Drawer Title Text"
    },
    {
      "type":"color",
      "default":"#747474",
      "label":"Header Text Color",
      "id":"header_color"
    },
    {
       "type": "radio",
       "id": "header_alignment",
       "options": [
          { "value": "left", "label": "Left"},
          { "value": "center", "label": "Center"},
          { "value": "right", "label": "Right"}
       ],
       "default":"left",
       "label": "Header Alignment"
    },
    {
        "type":      "range",
        "id":        "font_size",
        "min":       5,
        "max":        30,
        "step":       1,
        "unit":       "px",
        "label":     "Font size",
        "default":   16
    }
    ]
  }
{% endschema %}
