<div data-section-id="{{ section.id }}" data-section-type="landing">
  {% for block in section.blocks %}
    <div class="core__container small--{{ block.settings.item_width_mobile }}">
      <a href="{{ block.settings.destination }}" class="core__link link_screen">
        <div class="core__photo" style="background-image: url({{ block.settings.image | img_url: 'master' }});">
          <h1 class="core__title section-header__title">{{ block.settings.header }}</h1>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Core Landing Page",
    "class":"grid__item small--one-whole core-container large--two-thirds",
    "settings": [
      {
        "type": "header",
        "content":"Create your core collection landing page here."
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
             "type": "select",
             "id": "item_width_mobile",
             "options": [
                { "value": "one-whole", "label": "100%"},
                { "value": "one-half", "label": "50%"},
                { "value": "one-third", "label": "33%"},
                { "value": "one-quarter", "label": "25%"},
                { "value": "one-fifth", "label": "20%"},
                { "value": "one-sixth", "label": "16% (6-wide)"}
             ],
             "default": "one-whole",
             "label": "Item Width (Mobile)"
          },
          {
            "type":"url",
            "label":"Link Destination",
            "id":"destination"
          },
          {
            "type":"text",
            "id":"header",
            "label":"Category Title"
          }
        ]
      }
    ]
  }
{% endschema %}