<div data-section-id="{{ section.id }}" data-section-type="cult-classic">
  <h1 class="heading_two_big">Cult Classics</h1>
  {% for block in section.blocks %}
    {% assign collection = collections[block.settings.collection_picked] %}
    <div class="cult">
      <a href="{{ collection.url }}">
        <img src="{{ collection.image | img_url: '2048x2048' }}" alt="{{ collection.title }}">
      </a>
      <a href="{{ collection.url }}">
        <h2 class="heading_two_big">{{ collection.title }}</h2>
      </a>
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Cult Classics Landing",
    "class":"grid__item one-whole cult-classics-landing",
    "max_blocks": 50,
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"Carry On" 
      },
      {
        "type":"textarea",
        "id":"subtitle",
        "label":"Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "Post",
        "name": "Post Block",
        "settings": [
            {
               "type": "select",
               "id": "mobile_width",
               "options": [
                  { "value": "one-fifth", "label": "20%"},
                  { "value": "one-quarter", "label": "25%"},
                  { "value": "one-third", "label": "33%"},
                  { "value": "two-fifths", "label": "40%"},
                  { "value": "one-half", "label": "50%"},
                  { "value": "three-fifths", "label": "60%"},
                  { "value": "two-thirds", "label": "66%"},
                  { "value": "three-quarters", "label": "75%"},
                  { "value": "four-fifhts", "label": "80%"},
                  { "value": "one-whole", "label": "100%"}
               ],
               "default":"one-whole",
               "label": "Mobile Width"
            },
            {
              "type":"collection",
              "id":"collection_picked",
              "label":"Display Collection"
            }
        ]
      }
    ]
  }
{% endschema %}