<div class="section_title">
  <h2 class="heading_two_big">
    <a href="{{ bloged.url }}">{{ section.settings.title }}</a>
  </h2>
</div>
{% assign subtitleSize = section.settings.subtitle | size %}
{% if subtitleSize > 0 %}
<div class="section_subtitle">
  <span>{{ section.settings.subtitle }}</span>
</div>
{% endif %}
<div class="grid blog_container">
  {% for block in section.blocks %}
  <div class="article_container grid__item small--{{ block.settings.mobile_width }}" {{ block.shopify_attributes }}>
    <div class="blog_content_container">
      <div class="blog_content_inner">
        <h2 class="heading_two"><a href="{{ block.settings.destination }}" onClick="ga('send', 'event', { eventCategory: 'Home Clicks', eventAction: 'Blog Post', eventLabel: '{{ article.handle }}  - {% cycle 'POS-1','POS-2','POS-3','POS-4' %}'});"><span class="large--hide">{{ block.settings.title  }}</span></a></h2>
      </div>
    </div>
    <a href="{{ block.settings.destination }}">
      <img src="{{ block.settings.image | img_url: 'grande' }}" alt="{{ block.settings.title | escape }}">
    </a>
  </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Cult Classics",
    "class":"grid__item one-whole cult-classics",
    "max_blocks": 50,
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"Carry On"
      },
      {
        "type":"textarea",
        "id":"subtitle",
        "label":"Subtitle"
      }
    ],
    "blocks": [
      {
        "type": "Post",
        "name": "Post Block",
        "settings": [
            {
               "type": "select",
               "id": "mobile_width",
               "options": [
                  { "value": "one-fifth", "label": "20%"},
                  { "value": "one-quarter", "label": "25%"},
                  { "value": "one-third", "label": "33%"},
                  { "value": "two-fifths", "label": "40%"},
                  { "value": "one-half", "label": "50%"},
                  { "value": "three-fifths", "label": "60%"},
                  { "value": "two-thirds", "label": "66%"},
                  { "value": "three-quarters", "label": "75%"},
                  { "value": "four-fifhts", "label": "80%"},
                  { "value": "one-whole", "label": "100%"}
               ],
               "default":"one-whole",
               "label": "Mobile Width"
            },
            {
              "type":"text",
              "id":"title",
              "label":"Title",
              "default":"Fall Ginghams"
            },
            {
              "type":"image_picker",
              "id":"image",
              "label":"Image"
            },
            {
              "type":"url",
              "id":"destination",
              "label":"Link Destination"
            }
        ]
      }
    ]
  }
{% endschema %}