<style>
  .cc_footer_full{
    background: {{ section.settings.background_color }};
  }
</style>
<footer data-footer-container id="inner_footer">

  <div class="grid__item one-whole text-center">
    <img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ 'general.accessibility.general_alt' | t: name: 'Footer Image', image: shop.name }}" id="footer-logo">
  </div>

{%- assign footer_linklist = section.settings.footer_linklist -%}
{% if linklists[footer_linklist].links.size > 0 %}
  <div class="grid__item large--one-whole footer_linkcontainer">
    <ul id="MainFooterLinks">
      {% for link in linklists[footer_linklist].links %}
      <li class="footer-li" id="block_{{ forloop.index }}">
        <a href="{{ link.url }}" id="{{ link.handle }}-link">{{ link.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="grid__item large--one-whole footer-social small--one-whole text-center">
  <div class="section_title"><span>{{ section.settings.social_header }}</span></div>

  {%- assign social_accounts = 'Instagram, Pinterest, Twitter, Facebook, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}
      {% capture social_image %}social_{{ social_handle}}_image{% endcapture %}

      {% if settings[social_link] != blank %}
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            <img src="{{ settings[social_image] | img_url }}" alt="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}" style="max-width: 35px;"/>
          </a>
      {% endif %}

    {% endfor %}

</div>



  <div id="footer_copyright">
    <small>{{ 'now' | date: "%Y" }} {{ 'layout.footer.copyright' | t }} <br> © www.carolineconstas.com </small>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "class":"cc_footer_full one-whole",
    "settings": [
      {
        "type":"color",
        "id":"background_color",
        "label":"Background Color",
        "default":"#eeeeee"
      },
      {
        "type":"image_picker",
        "id":"logo",
        "label":"Footer Logo"
      },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type":"text",
        "id":"social_header",
        "label":"Social Header",
        "default":"- Join Us -"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
