<style>
  .nav-drawer{
    background: {{ section.settings.background_color }};
  }

  .drawer__header{
    border-bottom: {{ section.settings.header_border_width }}px solid {{ section.settings.border_color }};
  }

  .mobile-nav__item{
    font-size: {{ section.settings.font_size }}px;
  }
</style>
<div data-section-id="{{ section.id }}" data-section-type="NavDrawer" style="" data-nav-drawer>
  <div class="drawer__header text-center">
    <a href="/">
     <img src="{{ section.settings.logo | img_url: 'master' }}"
                   srcset="{{ section.settings.logo | img_url: 'master' }} 1x, {{ section.settings.logo | img_url: 'master', scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo">
    </a>
    {% include 'icon-close' %}
  </div>
  <div class="drawer__search">
      <form action="/search" method="get" role="search">
        <label for="Search" class="label-hidden">
          {{ 'general.search.placeholder' | t }}
        </label>
        <input type="search"
               name="q"
               id="Search"
               value="{{ search.terms | escape }}"
               placeholder="{{ 'general.search.placeholder' | t }}">
        <button type="submit" class="btn" style="background: {{ section.settings.btn_background }};">
          {% include 'icon-search' %}
          <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>
  </div>
  <div class="drawer__nav">
    <ul class="mobile-nav">
      {% for link in linklists[section.settings.nav].links %}
      <li class="mobile-nav__item {% if link.levels > 0 %}has-submenu{% endif %}" id="mobile-{{ link.handle }}" data-levels="{{ link.levels }}">
        <a href="{{ link.url }}" class="mobile-nav__link {% if link.active %}active{% endif %}" >{{ link.title }}</a>
        {% if link.levels > 0 %}<button class="expand" data-expand-button>{% include 'icon-plus' %}{% include 'icon-minus' %}</button>{% endif %}
        {% if link.levels > 0 %}
          <ul class="mobile-nav__sublist">
            {% for sub_link in link.links %}
            <li class="mobile-nav__item" id="sublink-{{ sub_link.handle }}"><a href="{{ sub_link.url }}" class="sublink {% if sub_link.active %}active{% endif %}">{{ sub_link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li class="mobile-nav__item">
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account"  class="mobile-nav__link">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account"  class="mobile-nav__link">{{ 'layout.customer.account' | t }}</a>
              {% endif %}
            </li>
            <li class="mobile-nav__item">
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li class="mobile-nav__item">
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
            <li class="mobile-nav__item">
              {{ 'layout.customer.create_account' | t | customer_register_link }}
            </li>
          {% endif %}
      {% endif %}
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Nav Drawer",
    "class":"drawer nav-drawer",
    "settings": [
      {
        "type":"paragraph",
        "content":"This can only be seen on mobile. Drawer is not accessible on desktop. Make sure to simulate mobile during editing."
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type":"color",
        "id":"background_color",
        "default":"#ffffff",
        "label":"Background Color"
      },
      {
        "type": "range",
        "id": "header_border_width",
        "min": 0,
        "max": 10,
        "step": 1,
        "unit": "px",
        "label": "Bottom Border Width",
        "default": 1
      },
      {
        "type":"color",
        "id":"border_color",
        "label":"Border Color for Header",
        "default":"#f2f2f2"
      },
      {
        "type":"color",
        "label":"Search Button Background",
        "id":"btn_background",
        "default":"#747474"
      },
      {
        "type":"link_list",
        "id":"nav",
        "label":"Chosen Mobile Navigation"
      },
      {
        "type":"header",
        "content":"Font Settings"
      },
      {
        "type": "range",
        "id": "font_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Menu Font Size",
        "default": 14
      }
    ]
  }
{% endschema %}
