{% assign chosenCollection = section.settings.collection %}
{% assign collectioned = collections[chosenCollection] %}
<div data-section-id="{{ section.id }}" data-section-type="header" class="grid" style="padding-left: 30px;">
    <div class="grid__item one-whole product-feed-header">
      <h2 class="heading_two_big" style="text-transform: uppercase;"><a href="{{ collectioned.url }}">{{ collectioned.title }}</a></h2>
    </div>
    <div id="section_subheader" class="header-byline grid__item one-whole text-center">
        {{ section.settings.subheader }}
    </div>
    <div class="grid__item large--hide mobile-grid-homepage small--one-whole medium--hide">
      {% assign mobile_limit = section.settings.mobile_count %}
      {% for product in collectioned.products limit: mobile_limit %}
        <div class="{{ section.settings.products_per_row_mobile }} grid__item n-c" data-alpha="{{ product.title }}" data-price="{{ product.price }}" id="prod-{{ product.id }}">
            <a href="{{ product.url }}" onClick="ga('send', 'event', { eventCategory: 'Homepage-Product-Clicks', eventAction: '{{ product.title | escape  }}', eventLabel: 'Clicked'});">
                <img src="{{ product.featured_image.src | product_img_url: 'grande' }}" class="ge-img1 shopify_product"/>
            </a>
        </div>
      {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": "Product Feed",
    "class":"just-in-section",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection Choice"
      },
      {
        "type":"text",
        "id":"subheader",
        "label":"Subheader Text"
      },
      {
          "type":      "range",
          "id":        "desktop_count",
          "min":       1,
          "max":        20,
          "step":       1,
          "unit":       "itm",
          "label":     "Num. of Products (Desktop)",
          "default":   6
      },
      {
          "type":      "range",
          "id":        "mobile_count",
          "min":       1,
          "max":        20,
          "step":       1,
          "unit":       "itm",
          "label":     "Num. of Products (Mobile)",
          "default":   4
      },
      {
         "type": "select",
         "id": "products_per_row_mobile",
         "options": [
            { "value": "one-whole", "label": "1 Product"},
            { "value": "one-half", "label": "2 Products"},
            { "value": "one-third", "label": "3 Products"},
            { "value": "one-quarter", "label": "4 Products"},
            { "value": "one-fifth", "label": "5 Products"},
            { "value": "one-sixth", "label": "6 Products"}
         ],
         "label": "Products per row (mobile)"
      }
    ],
    "presets": [
      {
        "name": "Product Feed",
        "category": "Product Related"
      }
    ]
  }
{% endschema %}