<div data-section-id="{{ section.id }}" data-section-type="lookbook" data-lookbook-container>
  {% for block in section.blocks %}{% assign productCheck = block.settings.product | size %}
    <div class="grid__item lookbook_item {{ block.settings.item_width_mobile }}" {{ block.shopify_attributes }} {% if productCheck > 0  %}data-product="{{ block.settings.product }}"{% endif %} data-lookbook-item>
      <img src="{{ block.settings.image | img_url: '1024x1024' }}" alt="{{ page.title | append: ' Image-' | append: forloop.index }}" class="lookbook_img">
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Resort 18 MER Lookbook",
    "class":"grid__item one-whole lookbook-container large--two-thirds",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header Text"
      },
      {
        "type":"text",
        "id":"subheading",
        "label":"Subheader Text"
      },
      {
        "type":"url",
        "id":"url",
        "label":"Desired Link Destination"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
             "type": "select",
             "id": "item_width_mobile",
             "options": [
                { "value": "one-whole", "label": "100%"},
                { "value": "one-half", "label": "50%"},
                { "value": "one-third", "label": "33%"},
                { "value": "one-quarter", "label": "25%"},
                { "value": "one-fifth", "label": "20%"},
                { "value": "one-sixth", "label": "16% (6-wide)"}
             ],
             "default": "one-whole",
             "label": "Item Width (Mobile)"
          },
          {
            "type":"product",
            "label":"Select Product",
            "id":"product"
          }
        ]
      }
    ]
  }
{% endschema %}