<div data-section-id="{{ section.id }}" data-section-type="slider">
  <div class="blog_content_container">
    <div class="blog_content_inner">
      <h2 class="heading_two_big">
        <a href="{{ section.settings.url }}">{{ section.settings.header }}</a>
      </h2>
      <span class="post-excerpt">
        <a href="{{ section.settings.url }}">{{ section.settings.subheading}}</a>
      </span>
    </div>
  </div>
  <div class="slider grid" data-slider-container>
    {% for block in section.blocks %}{% assign alt = section.settings.header | append: ' slide-' | append: forloop.index %}
    <div class="slide grid__item one-whole"><img src="{% if forloop.index <= 1 %}{{ block.settings.image | img_url: '2048x2048' }}{% endif %}" {% if forloop.index > 1 %}data-src="{{ block.settings.image | img_url: '2048x2048' }}" style="display: none;"{% endif %} alt="{{ alt }}" class="slide_img" /></div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Slider",
    "class":"grid__item one-whole slide-inner-container",
    "max_blocks": 50,
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header Text"
      },
      {
        "type":"text",
        "id":"subheading",
        "label":"Subheader Text"
      },
      {
        "type":"url",
        "id":"url",
        "label":"Desired Link Destination"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}