@charset "UTF-8";
/*============================================================================
  [replace with theme name] | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
@import url('tools/mixins.scss');

/*========= Fonts ========*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway');


/*================ SETTINGS ================*/
@import url('settings/variables.scss.liquid');

/*================ COMMON ================*/
@import url('global/normalize.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');

/*================ MODULES ================*/
@import url('modules/site-header.scss');
@import url('modules/gift-card-template.scss');
@import url('modules/drawer.scss');
@import url('modules/product-feed.scss');
@import url('modules/slider.scss');
@import url('modules/cahier.scss');
@import url('modules/footer.scss');
@import url('modules/collection.scss');
@import url('modules/lookbooks.scss');
@import url('modules/core.scss'); 
@import url('modules/cult-classics.scss');
@import url('modules/article.scss');
@import url('modules/celeb.scss');

@include media-query($large-up){
	.large--hide{
		display: none;
	}
}

a{
	text-decoration: none;
}

/*==== Global Useful Classes ===*/
main.main-content.wrapper{
	width: 90%;
	margin: 0 auto;
	background: white;
	display: block;
	max-width: 1880px;
}


h2.heading_two_big{
	color: black;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: 3px;
	text-align: center;
	font-size: 18px;
	font-weight: $font-weight-normal;

	a{
		text-decoration: none;
		color: black;
	}
}


/*================= Mobile ================*/

/*==== Ipad ====*/

@include media-query($medium){
	.medium--hide{
		display: none;
	}


	.site-logo{
		//font-size: 10px;
	}

	.grid-uniform .medium--one-half:nth-child(2n+1), .grid-uniform .medium--one-third:nth-child(3n+1), .grid-uniform .medium--one-quarter:nth-child(4n+1), .grid-uniform .medium--one-fifth:nth-child(5n+1), .grid-uniform .medium--one-sixth:nth-child(6n+1), .grid-uniform .medium--two-sixths:nth-child(3n+1), .grid-uniform .medium--three-sixths:nth-child(2n+1), .grid-uniform .medium--two-eighths:nth-child(4n+1), .grid-uniform .medium--four-eighths:nth-child(2n+1), .grid-uniform .medium--five-tenths:nth-child(2n+1), .grid-uniform .medium--one-twelfth:nth-child(12n+1), .grid-uniform .medium--two-twelfths:nth-child(6n+1), .grid-uniform .medium--three-twelfths:nth-child(4n+1), .grid-uniform .medium--four-twelfths:nth-child(3n+1), .grid-uniform .medium--six-twelfths:nth-child(2n+1) {
		clear: both
	}
}

/*==== End Ipad ====*/

/*==== Smartphone ====*/

@include media-query($small){
	body{
		padding-top: 51px;
	}
	
	.site-logo{
		//font-size: 8px;
	}

	h2.heading_two_big{
		font-size: 19px;
	}

	.grid-uniform .small--one-half:nth-child(2n+1), .grid-uniform .small--one-third:nth-child(3n+1), .grid-uniform .small--one-quarter:nth-child(4n+1), .grid-uniform .small--one-fifth:nth-child(5n+1), .grid-uniform .small--one-sixth:nth-child(6n+1), .grid-uniform .small--two-sixths:nth-child(3n+1), .grid-uniform .small--three-sixths:nth-child(2n+1), .grid-uniform .small--two-eighths:nth-child(4n+1), .grid-uniform .small--four-eighths:nth-child(2n+1), .grid-uniform .small--five-tenths:nth-child(2n+1), .grid-uniform .small--one-twelfth:nth-child(12n+1), .grid-uniform .small--two-twelfths:nth-child(6n+1), .grid-uniform .small--three-twelfths:nth-child(4n+1), .grid-uniform .small--four-twelfths:nth-child(3n+1), .grid-uniform .small--six-twelfths:nth-child(2n+1) {
		clear: both
	}

	main.wrapper.main-content{
		padding: 0px 15px;
	}
}

/*=== end of smartphone ===*/

/*=== Large ====*/

@include media-query($large){
	.site-logo{
		//font-size: 14px;
	}

	.grid-uniform .medium-down--one-half:nth-child(2n+1), .grid-uniform .medium-down--one-third:nth-child(3n+1), .grid-uniform .medium-down--one-quarter:nth-child(4n+1), .grid-uniform .medium-down--one-fifth:nth-child(5n+1), .grid-uniform .medium-down--one-sixth:nth-child(6n+1), .grid-uniform .medium-down--two-sixths:nth-child(3n+1), .grid-uniform .medium-down--three-sixths:nth-child(2n+1), .grid-uniform .medium-down--two-eighths:nth-child(4n+1), .grid-uniform .medium-down--four-eighths:nth-child(2n+1), .grid-uniform .medium-down--five-tenths:nth-child(2n+1), .grid-uniform .medium-down--one-twelfth:nth-child(12n+1), .grid-uniform .medium-down--two-twelfths:nth-child(6n+1), .grid-uniform .medium-down--three-twelfths:nth-child(4n+1), .grid-uniform .medium-down--four-twelfths:nth-child(3n+1), .grid-uniform .medium-down--six-twelfths:nth-child(2n+1) {
		clear: both
	}
}
/*=== End of Large ====*/

/*================= End of Mobile ================*/

/*=========== General Collection =======*/
h1.collection_title{
	font-style: normal;
	font-weight: $font-weight-normal;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-size: 22px;

	@include media-query($small){
		padding-top: 30px;
	}
}

.collectionbody.cultclassics{
	.largecontainer{
		.infinite-product{
			position: relative;
			padding-bottom: 0px;
			padding-left: 40px;
		}

		.product-info{
			padding-top: 7px;
			text-align: center;

			.product-info-inner{
				font-size: 0.7em;

				.product_meta{

					&.product_vendor{
						display: none;
					}

					line-height: 1.6;
					font-style: normal;
					font-weight: $font-weight-normal;
					text-transform: uppercase;
					color: black;
					letter-spacing: 3px;
					font-size: 1em;
				}
			}
		}
	}
}

.collectionbody.collabsbody{
	.largecontainer{
		.infinite-product{
			position: relative;
			padding-bottom: 0px;
			padding-left: 40px;
			text-align: center;

			img{
				max-width: 90%;
				margin: 0 auto;
			}
		}

		.product-info{
			padding-top: 7px;
			text-align: center;
			max-width: 100% !important;

			.product-info-inner{
				font-size: 0.7em;

				.product_meta{
					line-height: 1.6;
					font-style: normal;
					font-weight: $font-weight-normal;
					text-transform: uppercase;
					color: black;
					letter-spacing: 3px;
					font-size: 1em;
					display: block;

					&.product_title{
						padding-top: 0px !important;
					}

					&.product_price{
						display: none;
					}

					&.product_vendor{
						font-size: 0.75em;
						display: block !important;
					}
				}
			}
		}
	}
}


/*========== End of General Collection =====*/
