<div class="blog_body">
  {% paginate blog.articles by 12 %}

    {%- assign blog_title = blog.title -%}

    {% if current_tags %}
      {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
    {% endif %}

    <h1 class="section-header__title">{{ blog_title }}</h1>

    {% if blog.all_tags.size > 0 %}
      <h2>{{ 'blogs.general.categories' | t }}</h2>

      <ul>
        {% for tag in blog.all_tags %}

          {% if current_tags contains tag %}
            <li>{{ tag }}</li>
          {% else %}
            <li>{{ tag | link_to_tag: tag }}</li>
          {% endif %}

        {% endfor %}
      </ul>
    {% endif %}


    {% comment %}

    Article Previews
    ====================
    {% endcomment %}

    {% for article in blog.articles %}
      {% include 'cahier_grid' %}
    {% endfor %}

    {% if paginate.pages > 1 %}
      {% include 'pagination' %}
    {% endif %}

  {% endpaginate %}
</div>