{{ content_for_index }}

{% section 'product-feed' %}

<div class="grid">
	<div class="grid__item large--two-thirds spring-container small--one-whole">
		{% section 'slider' %}
		{% section 'cahier' %}
	</div>
	<div class="grid__item large--one-third cult-conversations small--one-whole">
		{% section 'carry-on' %}
		{% section 'cult-classics' %}
	</div>
</div>