/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  font-family: $font-stack-body;
  font-size: 12px;
  line-height: 1.6;
  font-style: normal;
  font-weight: $font-weight-normal;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}
