<div class="grid__item large--one-whole small--one-whole blog_item" id="article-{{ article.id }}" data-alpha="{{ article.title }}">
	<div class="article-info">
		<div class="article-info-inner">
			<a href="{{ article.urll }}">
				<img src="{{ article.image.src | img_url: '2048x2048' }}" alt="{{ article.image.alt }}">
			</a>
			<a href="{{ article.url }}">
				<h1 class="section-header__title">{{ article.title }}</h1>
			</a>
			<p style="text-align: center;">
				<a href="{{ article.url }}">read more</a>
			</p>
		</div>
	</div>
</div>