{% capture tags %}{%- for tag in article.tags -%}{{- tag -}}{% unless forloop.last %},{% endunless %}{%- endfor -%}{% endcapture %}
{% assign tags = tags | split: ',' %}
<div class="grid__item large--one-third small--one-whole celebrity-item" {% for tag in tags %}data-product-handle-{{ forloop.index}}="{{- tag -}}"{% endfor %} data-celebrity-item>
	<div class="article-info">
		<div class="article-info-inner">
			<div class="caption-wrapper">
				<button class="celebrity" id="{{ article.title | handleize }}">
					<img src="{{ article.image | img_url: '2048x2048' }}" alt="{{ article.title }}">
					<br>
					<h1 class="section-header__title">{{- article.title -}}</h1>
				</button>
			</div>
		</div>
	</div>
</div>