<div class="grid__item small--one-half infinite-product" data-collection-grid-item>
	<a href="{{ product.url | within: collection }}" class="ge-productimage hover-img">
		{% if product.images.size > 1%}
		<img src="{% if forloop.index <=  2 %}{{ product.images[1] | product_img_url: 'master' }}{{ settings.cache_bust_string }}{% endif %}" {% if forloop.index > 2 %}data-src="{{ product.images[1] | product_img_url: 'master' }}{{ settings.cache_bust_string }}" data-lazy-load{% endif %} alt="{{ product.title | escape  }}"  style=" display:none;" class="ge-img2">
		{% endif %}
		<img src="{% if forloop.index <=  2 %}{{ product.images[0] | product_img_url: 'master' }}{{ settings.cache_bust_string }}{% endif %}" {% if forloop.index > 2 %}data-src="{{ product.images[0] | product_img_url: 'master' }}{{ settings.cache_bust_string }}" style="display: none;" data-lazy-load{% endif %} alt="{{ product.title | escape  }}" class="ge-img1">
	</a>
	<div class="product-info">
		<div class="product-info-inner">
			<a href="" class="product_meta product_vendor">{{ product.vendor }}</a>
			<a href="" class="product_meta product_title">{{ product.title }}</a>
			<br>
			<a href="" class="product_meta product_price">
				<span class="money" style="{% if check < 0.5%}display: none;{% endif %}"> {% if product.compare_at_price_max > product.price %}<span>
     					{{ product.compare_at_price_max | money }}</span>{% endif %}{{ product.price | money}}
     		</a>
		</div>
	</div>
</div>