{% raw %}
{{#items}}
<div class="grid__item small--one-half infinite-product" data-collection-grid-item style="display: none;" data-needs-fade>
	<a href="{{url}}" class="ge-productimage hover-img">
		<img src="{{ secondary_img }}" alt="{{ title }}"  style=" display:none;" class="ge-img2">
		<img src="{{ featured_img }}" alt="{{ title }}" class="ge-img1">
	</a>
	<div class="product-info">
		<div class="product-info-inner">
			<a href="{{ url }}" class="product_meta product_vendor">{{ vendor }}</a>
			<a href="{{ url }}" class="product_meta product_title">{{ title }}</a>
			<br>
			<a href="{{ url }}" class="product_meta product_price">
				{{{ price }}}
     		</a>
		</div>
	</div>
</div>
{{/items}}
{% endraw %}