@include media-query($small){
	body.template-article{
		main.wrapper.main-content{
			
			
			#article-body{
				h1.section-header__title{
					font-size: 22px;
				}
			}
		}
	}
}


body.template-article{
	main.wrapper.main-content{
		width: 85%;
		margin-top: 35px;

		#article-body{
			h1.section-header__title{
				text-transform: uppercase;
				font-style: normal;
				font-weight: $font-weight-normal;
				line-height: 1.2;
				font-size: 19px;
				text-align: center;
				letter-spacing: 3px;
			}

			h5{
				text-align: center;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-size: 1.2em;
				font-weight: $font-weight-bold;
			}

			a{
				color: #747474;
			}
		}
	}
}

