@include media-query($small){
	.cahier-hp, .carry-hp, .cult-classics{
		.section_title{

			h2.heading_two_big{

			}
		}

		.section_subtitle{
			line-height: 1;
		}
	}

	.blog_container{
		.article_container{
			.blog_content_container{
				.blog_content_inner{
					padding: 5px 8px;

					.heading_two{
						a{
							font-size: 12px;
							color: black;
						}
					}

					.button{

					}
				}
			}
		}
	}
	
	.blog_body{

		h1.section-header__title{
			padding-top: 15px;
			font-size: 20px;
		}

		.blog_item{
			padding-left: 0px;
			.article-info{
				.article-info-inner{
						h1.section-header__title{
							padding-top: 15px;
							font-size: 20px;
							margin-bottom: 0px;
						}

						p{
							margin-top: 0px;
						}
				}
			}
		}
	}
}

.carry-hp, .cult-classics{
	border-bottom: 0px solid black !important;
}

.cult-classics{
	.section_title{
		.heading_two_big{
			margin: 0 !important;
		}
	}

	.article_container{
		margin-bottom: 25px;

		.blog_content_container{
			.blog_content_inner{
				.heading_two{
					margin: 0 !important;
	
					span{
						text-transform: capitalize;
					}
				}
			}
		}
	}
}

.cahier-hp, .carry-hp, .cult-classics{
	padding: 35px 0px;
	border-bottom: 1px solid black;

	.section_title{
		text-align: center;
		text-transform: uppercase;

		h2.heading_two_big{
			margin: 0px 0px 9.5px;
		}
	}

	.section_subtitle{
		padding-bottom: 10px;
		font-style: normal;
		letter-spacing: 1.2px;
		text-align: center;
	}

	.blog_container{
		.article_container{
			.blog_content_container{
				text-align: center;
				margin-bottom: -20px;

				.blog_content_inner{
					margin: 0 15px;
					text-align: center;
					z-index: 3;
					position: relative;
					background: white;

					.heading_two, .heading_two a{
						font-weight: $font-weight-normal;
						font-size: 14px;
						line-height: 1.2;
						text-align: center;
						letter-spacing: 3px;
						color: black;
						text-transform: uppercase;
						padding-bottom: 0;
						margin-bottom: 0;
					}

					.button{
						font-family: Times, Serif;
						font-style: italic;
						font-size: 12px;
						color: black;
						letter-spacing: 1px;
						text-transform: lowercase;
					}
				}
			}
		}
	}
}

.blog_body{
	h1.section-header__title{
		text-transform: uppercase;
		font-style: normal;
		font-weight: $font-weight-normal;
		line-height: 1.2;
		text-align: center;
		color: black;
		letter-spacing: 3px;
	}

	.blog_item{
		margin-bottom: 50px;

		.article-info{
			.article-info-inner{ 
				a{
					h1.section-header__title{
						text-transform: uppercase;
						font-style: normal;
						font-weight: $font-weight-normal;
						line-height: 1.2;
						font-size: 19px;
						color: black;
						text-align: center;
						letter-spacing: 3px;
					}
				}
				p{
					padding-top: 15px;
					
					a{
						color: black;
					}
				}
			}
		}
	}

	.pagination{
		display: none;
	}
}