@include media-query($small){
	#shopify-section-Blog-Celeb{

		.section-header__title{
			font-size: 22px !important;
			padding-top: 15px !important;
		}

		.header-byline{
			line-height: 1 !important;
		}

		.celebrity-grid{

			.celebrity-item{
				.article-info{
					.article-info-inner{
						.caption-wrapper{
							button.celebrity{
								img{

								}
								h1.section-header__title{
									
								}
							}
						}
					}
				}
			}
		}
	}
}

#shopify-section-Blog-Celeb{
	padding-left: 0px;

	.section-header__title{
		text-transform: uppercase;
		font-style: normal;
		font-weight: $font-weight-normal;
		line-height: 1.2;
		text-align: center;
		letter-spacing: 3px;
		font-size: 19px;
		margin: 0;
		padding-bottom: 10px;
	}

	.header-byline{
		font-style: normal;
		font-weight: $font-weight-normal;
		line-height: 0.8;
		text-transform: uppercase;
		text-align: center;
		color: #747474;
		letter-spacing: 1.2px;
	}
 
	.celebrity-grid{
		padding: 30px 0px 0px 0px;

		.celebrity-item{
			padding-left: 0px;

			.article-info{
				.article-info-inner{
					.caption-wrapper{
						button.celebrity{
							img{

							}

							h1.section-header__title{
								font-size: 15px;
							}
						}
					}
				}
			}
		}
	}
}