@include media-query($small){
	#shopify-section-collection, #shopify-section-CollabsCollection{
		.collectionbody{
			.mobile-filtering{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: 10px;
				margin-left: -5%;
				width: 110%;
	
				#filter-mobile{
					height: 35px;
					min-width: 30px;
					margin: 0;
				}
	
				.filter-containers{
					height: 0px;
					padding: 3px;
					overflow: hidden;
					@include prefix(transition, all 0.5s ease-in-out,webkit spec);
					width: 75%; 
	
					.cf-title{
						display: none;
						font-weight: $font-weight-bold;
						margin: 2px 5px 0px 0px;
					}
	
					.cf-select{
						font-size: 12px;
						display: block;
						width: 100%;
						max-width: none;

						option{
							font-size: 12px;
						}
					}
	
					&.showFilters{
						height: 75px;
						margin-bottom: 30px;
					}
				}
			}
	
			.largecontainer{
				.infinite-product{
					.product-info{
						max-width: 130px;
						margin: 0 auto;
	
						.product-info-inner{
							font-size: .7em;
	
							.product_meta{
								padding-top: 15px;
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
}

#shopify-section-collection, #shopify-section-CollabsCollection{
	.pagination{
		display: none;
	}


.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: none;
  vertical-align: top;

	svg path,
	svg rect{
	  fill: #cccccc;
	}
}
	.collectionbody{
		.collection-filters-container{
			text-align: left;
			margin: 0px 0px 10px 0px;
			font-size: 16px;
			display: block;

			.cf-select{
				display: inline-block;
				width: 9em;
				margin-right: 1em;
				height: 35px;
				float: none;
				padding: 2px 2px 2px 0px;
				border: solid 0px #d3d2d2;
			}
		}

		.largecontainer{
			.infinite-product{
				padding-left: 40px;

				.product-info{
					padding-top: 7px;
					text-align: center;

					.product-info-inner{
						a{
						  line-height: 1.6;
						  font-style: normal;
						  font-weight: $font-weight-normal;
						  text-transform: uppercase;
						  color: black;
						  letter-spacing: 3px;
						  font-size: 1em;	
						}

						.product_meta{
							&.product_vendor{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}