@include media-query($small){
	#shopify-section-core{
		.core__container{
			.core__link{
				.core__photo{
					padding: 28px 0px;
					background-size: 100% 100%;

					.core__title{
						font-size: 22px;
						font-weight: $font-weight-normal;
						line-height: 1.2;
						letter-spacing: 3px;
					}
				}
			}
		}
	}
}

#shopify-section-core{
	padding-left: 0px;

	.core__container{
		position: relative;
		padding: 10px 0px;
		text-align: center;

		.core__link{
			.core__photo{
				display: flex;
				justify-content: center;
				align-items: center;
				background-repeat: no-repeat;

				.core__title{
					color: black;
				}
			}
		}
	}
}