@include media-query($small){
	#shopify-section-cult-classics-landing{
		h1.heading_two_big{

		}

		.cult{
			a{
				img{

				}

				h2.heading_two_big{
					font-size: 19px;
				}
			}
		}
	}

}

#shopify-section-cult-classics-landing{
	padding-left: 0px;

	h1.heading_two_big{
		color: black;
		font-size: 28px;
		padding-bottom: 30px;
		font-weight: $font-weight-normal;
		line-height: 1.2;
		text-align: center;
		letter-spacing: 3px;
		margin-top: 20px;
		text-transform: uppercase;
		white-space: nowrap;
	}

	.cult{
		margin-bottom: 25px;

		a{
			img{
				max-height: 60vh;
				margin: 0 auto;
			}

			h2.heading_two_big{
				margin: 0 0 10px 0;
			}
		}
	}
}