/*===== Drawer ====*/
body.drawer-left__open{
	.drawer{
		&.nav-drawer{
			@include prefix(transform, translateX(300px),webkit spec);
		}
	}
}

body.drawer-right__open{
	.drawer{
		&.cart_drawer{
			@include prefix(transform, translateX(-300px),webkit spec);
		}
	}
}

.drawer_screen{
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.drawer{
	display: none;
	position: fixed;
	overflow-y: visible;
	overflow-x: visible;
	-wekbit-overflow-scrolling: touch;
	top: 0;
	bottom: 0;
	max-width: 95%;
	z-index: 6;
	width: 300px;
	//z-index: -1;
	-webkit-transform: translateZ(0);
	will-change: transform;
	@include prefix(transition, all 0.3s ease-in-out,webkit spec);	
	padding: 10px 15px;

	&.nav-drawer{
		left: -300px;

		.drawer__header{
			padding-bottom: 15px;
		}
	}
	
	&.cart_drawer{
		right: -300px;

		.drawer__header{
			padding-bottom: 0px;

			h3{
				margin: 0;
				padding: 10px 0px;
			}
		}

		.drawer__body{
			color: #747474;
		}
	}


	.drawer__header{
		padding-right: 25px;
		min-height: 20px;
		position: relative;

		img{
			width: 100%;
		}
	}

	svg.icon-close{
		position: absolute;
		right: 0px;
		width: 11px;
		top: calc(50% - 12px);
	}

	.drawer__search{
		padding: 30px 15px 15px 15px;
		 
		 form{
		 	display: flex;
			
			input{
				border-radius: 3px 0 0px 3px;
				height: 37px;
				width: 100%;
				border: 1px solid #f2f2f2;	
			}

			button.btn{
				font-size: 12px;
				color: white;
				border-radius: 0px 3px 3px 0px;
				padding: 8px 10px;

				svg{
					width: 12px;
				}
			}
		 }
	}

	.drawer__nav{
		ul.mobile-nav{
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: left;
			
			.mobile-nav__item{
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;

				.mobile-nav__link, #customer_login_link, #customer_register_link{
					color: black;
					text-decoration: none;
					text-transform: uppercase;
					line-height: 1.6;
				}

				button.expand{

					svg{
						@include prefix(transition, all 0.3s ease-in-out,webkit spec);
						width: 11px;
					}

					.icon-minus{
						display: none;
					}
				}

				ul.mobile-nav__sublist{
					width: 100%;
					max-height: 0;
					margin: 0;
					padding-left: 15px;
					visibility: hidden;
					overflow: hidden;
					@include prefix(transition, all 0.3s ease-in-out,webkit spec);
					@include prefix(backface-visibility, hidden,webkit spec);

					.sublink{
						color: black;
						text-decoration: none;
						text-transform: uppercase;
						line-height: 1.6;
					}
				}

				&.expand-menu{
					ul.mobile-nav__sublist{
						visibility: visible;
						max-height: 700px;
						@include prefix(transition, all 0.7s ease-in-out, webkit spec);
				
					}
					
					button.expand{
						.icon-plus{
								display: none;
						}

						.icon-minus{
								display: inline-block;
						}
					}
				}
			}
		}
	}
}

/*==== Ipad ====*/

@include media-query($medium){
	.drawer{
		display: block;
	}
}

/*==== End Ipad ====*/

/*==== Smartphone ====*/

@include media-query($small){
	.drawer{
		display: block;
	}
}

/*=== end of smartphone ===*/


/*==== End of Drawer ===*/