@include media-query($small){
	.cc_footer_full{
		margin-top: 30px;

		footer#inner_footer{
			.grid__item{
				ul#MainFooterLinks{
					flex-wrap: wrap;

					#block_1{
						order: 1;
					}

					#block_2{
						order: 2;
					}

					#block_3{
						order: 4;
						white-space: nowrap;
					}

					#block_4{
						order: 5;
						white-space: nowrap;
					}

					#block_5{
						order: 3;
					}

					.footer-li{
						margin-bottom: 3px;

						a{
							text-transform: uppercase;
							padding: 0px 15px;
							color: #747474;
						}
					}
				}

				&.footer-social{
					padding-bottom: 25px;
					border-right: 0px;
					border-left: 0px;

					.section_title{
						padding-top: 0px;
					}
				}
			}
		}
	}
}

.cc_footer_full{
	padding: 35px 0px;
	display: flex;
	justify-content: center;
	align-items: center;

	footer#inner_footer{
		max-width: 65%;

		.grid__item{
			padding-left: 0px;

			ul#MainFooterLinks{
				margin: 0;
				padding: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				list-style: none;
			}

			#footer-logo{
				margin: 10px 0px;
			}

			&.footer-social{
				.section_title{
					text-align: center;
					font-family: Times, Serif;
					font-style: italic;
					padding: 0px 0 20px 1px;

					span{
						font-size: 28px;
					}
				}
			}
		}

		#footer_copyright{
			padding-top: 5px;
			font-size: 10px;
			text-transform: uppercase;
			text-align: center;
		}
	}
}