@include media-query($small){
	.lookbook-container{

	}
}

.lookbook-container{
	padding: 15px 0px 0px 0px;

	.lookbook_item{
		padding-left: 0px;
	}
}

.lightbox{
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	padding: 30px 0px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	display: none;

	&.filled{
		display: flex;
		
		.lightbox_inner{
			position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

			img{
				padding: 10px;
				max-height: 80vh;
			}	

			.lightbox_button{
				position: absolute;
				left: calc(50% - 20px);
				height: 40px;
				width: 40px;
				background: url(#{'{{ 'lb_arrow.png' | asset_img_url: 'compact' }}'});
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border: 0px;

				&.prev{
					top: calc(0% - 40px);
					@include prefix(transform, rotate(180deg),webkit spec);
				}

				&.next{
					top: 100%;
				}
			}

			.lightbox_product{
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: 10px;
				background: white;
				max-height: 0;
				height: auto;
				overflow: hidden;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				@include prefix(transition, all 0.5s ease-in-out,webkit spec);

				.lightbox_product-img{
					max-height: 75%;
				}

				.lightbox_product-link{
					color: black;
					text-transform: uppercase;
					border: 1px solid black;
					padding: 5px 10px;
				}

				.lightbox_product-title{
					padding: 15px 0px;
					font-size: 14px;
					letter-spacing: 1px;
				}
			}

			button.display_product{
				position: absolute;
				width: 50%;
				display: none;
				background: rgba(255,255,255,1);
				padding: 5px;
				top: calc(0% - 15vh);
			}
		}

		&.showProduct{
			.lightbox_inner{
				.lightbox_product{
					max-height: 850px;
				}
			}
		}

		&.hasProduct{
			button.display_product{
				display: block;
			}

			.lightbox_product{
				display: flex;
			}
		}
	}
}