.just-in-section{
	border-bottom: 1px solid #808080;
	display: block;

	.product-feed-header{
		padding: 0;
		
		h2.heading_two_big{
			margin-bottom: 7.5px;
		}
	}

	.header-byline{
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1;
		text-align: center;
		padding: 0 0 10px 0px;
	}

	.mobile-grid-homepage{
		padding-left: 0px;

		.n-c{
			padding: 0;
		}
	}
}

@include media-query($small){
	.just-in-section{
		padding-top: 15px;
		margin-bottom: 35px;

		.product-feed-header{
			
		}

		.header-byline{
			padding-bottom: 35px;
		}
	}
}