/*================ Site Header ================*/
.site-logo {
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

/*==== Mobile Header ====*/
.mobile--header{
	z-index: 4;
	padding: 15px 10px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	
	.hamburger-container{
		position: relative;
		padding: 0px;


		svg.icon{
			@include prefix(transition, all 0.3s ease-in-out,webkit spec);

			&.icon-close{
				position: absolute;
				left: 0;
				opacity: 0;
			}
		}

		&.open{
			.icon-hamburger{
				opacity: 0;
			}

			.icon-close{
				opacity: 1;
			}
		}
	}

	.mobile-logo-container{
		padding: 0px 15px;
		display: flex;
		align-items: center;
		height: 20px;

		img{

		}
	}

	.mobile-cart-container{
		svg{
			fill: black;
		}
	}
}