@include media-query($small){
	.slide-inner-container{
		padding-left: 0px;
		padding-bottom: 35px;
		border-bottom: 1px solid black;
		
		.blog_content_container{


			.blog_content_inner{
				padding: 5px 10px;
			}
		}
	}
}


.slide-inner-container{
	.blog_content_container{
		text-align: center;
		display: block;
		margin-bottom: -20px;

		.blog_content_inner{
			text-align: center;
			z-index: 5;
			position: relative;
			background: white;
			display: inline-block;

			span.post-excerpt{
				letter-spacing: 2px;

				a{
					color: #747474;
					text-decoration: none;
				}
			}
		}
	}
}

.slider{
	.slide{
		width: 100%;

		.slide_img{
			width: 100%;
			margin: 0 auto;
		}
	}
}